@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main-container{
    font-family:"Inter";
    height:83vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}
.createAccount{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
h1{
    text-align:center;
    margin:1rem 0;
}
input{
    width:25rem;
    margin:1rem;
    padding:1rem;
}
button{
    padding:1rem;
    margin:1rem;
    color:rgb(255,255,255);
    background-color:rgb(121,39,181);
    cursor:pointer;
}
