@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.main-container {
    font-family: "Inter", sans-serif;
    width: 100vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:2rem;
}

.transfer {
    display:flex;
    flex-direction: column;
    justify-content:center;

    align-items:center;
    width: 100%;
}
input{
    width:25rem;
    padding:1.5rem;
    margin:1rem;
}

h1 {
    text-align: center;
    margin: 0 0 2rem 0;
    color: #333;
    font-weight: 600;
    font-size:3rem;
}

.account-info{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    color:rgb(146, 136, 27);
}
.error-message{
    color:rgb(255, 0, 0);
    font-weight:100;
    font-size:1rem;
    margin:0 1rem;
}
.btn{
    width: 93%;
    margin:1rem;
    padding:1.5rem;
    color:rgb(255, 255, 255);
    background-color:rgb(121,39,181);
}





