@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.main-container{
    font-family:"Inter";
    width:100vw;
    height:83vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.withdraw{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}
h1{
    margin:1rem 0;
    text-align:center;
}
input{
    margin:1rem;
    width:25rem;
    padding:1rem;
}
button{
    cursor:pointer;
    border: none;
    margin:1rem;
    padding:1rem;
    background-color: rgb(121,18,181);
    color:rgb(255,255,255);
}
