@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
.main-container{
    font-family:"Inter";
    height:83vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
h1{
    font-weight:200;
    font-size:8rem;
}
p{
  
    font-weight:100;
    font-size:1.5rem;
    margin:1rem 0.5rem;
}
.landing{
    display:flex;
    justify-content:center;
    align-items:center;
}
.btn{
    border-color:rgb(121,39,181);
    border-radius:7px;
    padding:1rem;
    width:100%;
    background-color:rgb(121,39,181);
    color:rgb(255,255,255);
    font-size:1rem;
}